

<div class="container">
    <div class="card">
      <div class="card__header">
        <img src="https://source.unsplash.com/600x400/?movie" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-dark" ><h1>Movies <Details></Details></h1></span>
        <h1 id="MovieN">Movie Name - {{MovieIds?.MovieName}}</h1>
         <h3>Release Year -{{MovieIds?.R_Year}}</h3>
        <h3>Gener - {{MovieIds?.Gener}}</h3>
        <h3>Actor Name -{{MovieIds?.ActorName}}</h3> 
    </div>
    </div>

  </div>